<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='./css/styles.css') }}"
    />
    <title>ProMark</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='./images/favicon.png') }}"
      type="image/x-icon"
    />
  </head>
  <body>
    <main>{% block content %} {% endblock %}</main>
    <script type="text/javascript">
      // <![CDATA[
      function loading() {
        $(".loading").show();
        $("#content").hide();
      }
      // ]]>
    </script>
    <script src="{{url_for('static', filename='./js/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='./js/scripts.js')}}"></script>
  </body>
</html>
