{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="card--1">
        <p class="hline--1"> PRO <strong><span style="color:#1B65A7;">MARK</strong></span></p>
        <p class="hline--2"> Mark your <strong><span style="color:#1B65A7;">ATTENDANCE</strong></span> with just one <strong><span style="color:#1B65A7;">CLICK</strong></span></p>
    </div>

    <div class="card--2">
        <p class="hline--3"> TEACHER <strong><span style="color:#1B65A7;">SIGNUP</strong></span></p>
        <div class="btn-container">
            <a href="/user/signup" class="btn-signup">SIGN UP</a>
            <a href="/user/login" class="btn-login">LOG IN</a>
        </div>
        
    </div>
</div>
{% endblock %}
